 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 752px;
}

.u-section-2 .u-image-1 {
  height: 265px;
  --radius: 50px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 29px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 307px;
  margin: 62px auto 0;
}

.u-section-2 .u-image-2 {
  width: 309px;
  height: 300px;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-section-4 .u-sheet-1 {
  min-height: 712px;
}

.u-section-4 .u-text-1 {
  width: 321px;
  margin: 30px auto 0;
}

.u-section-4 .u-slider-1 {
  width: 758px;
  min-height: 603px;
  height: auto;
  margin: 30px auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(219,85,91,0.65), rgba(219,85,91,0.65)), url("images/57eb3c0213f0b22ef26da295f39c90e69f232d057cdf4c3ca855396f9beccb4e3312ee6742697a75bd68165c01c39bf128e398798f7b237b9641d4_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-2 {
  width: auto;
  margin: auto 8px 0;
}

.u-section-4 .u-gallery-1 {
  height: 357px;
  margin: 10px 0 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-gap: 5px 5px;
  grid-template-columns: auto;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-text-3 {
  width: auto;
  margin: 10px -40px 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(219,85,91,0.7), rgba(219,85,91,0.7)), url("images/57eb3c0213f0b22ef26da295f39c90e69f232d057cdf4c3ca855396f9beccb4e3312ee6742697a75bd68165c01c39bf128e398798f7b237b9641d4_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto;
}

.u-section-4 .u-gallery-2 {
  height: 182px;
  margin-top: 97px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  padding: 30px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-3 {
  padding: 30px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-4 {
  padding: 30px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-5 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  width: auto;
  margin: 97px 0 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 533px;
  }

  .u-section-4 .u-gallery-1 {
    height: 287px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-gallery-2 {
    height: 146px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
    min-height: 477px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-gallery-1 {
    height: 231px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-gallery-2 {
    height: 470px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-4 .u-slider-1 {
    width: 540px;
    min-height: 428px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-1 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-2 {
    height: 1481px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-slider-1 {
    width: 340px;
    min-height: 435px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 112px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-2 {
    height: 911px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 6px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: -47px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: -47px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 10px;
}.u-section-6 .u-sheet-1 {
  min-height: 257px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 4.5rem;
  font-weight: 900;
  margin: 32px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 77px;
  min-height: 16px;
  width: 465px;
  min-width: 160px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 15px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 77px;
}

.u-section-6 .u-icon-2 {
  height: 77px;
}

.u-section-6 .u-icon-3 {
  height: 77px;
}

.u-section-6 .u-icon-4 {
  height: 77px;
}

.u-section-6 .u-icon-5 {
  height: 77px;
}

.u-section-6 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 13px auto 32px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 21px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 10px;
}.u-section-8 .u-sheet-1 {
  min-height: 749px;
}

.u-section-8 .u-text-1 {
  width: 454px;
  margin: 31px auto 0;
}

.u-section-8 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: 1140px;
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 658px;
}

.u-section-8 .u-repeater-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-8 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-8 .u-btn-1 {
  text-decoration: underline !important;
  margin: 17px auto 0 0;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 10px;
}.u-section-10 .u-sheet-1 {
  min-height: 675px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  width: 383px;
  margin: 31px auto 0;
}

.u-section-10 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 415px;
  --radius: 50px;
}

.u-section-10 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-10 .u-text-3 {
  margin: 0;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-10 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-10 .u-btn-1 {
  font-weight: 400;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 415px;
  --radius: 50px;
}

.u-section-10 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-10 .u-text-6 {
  margin: 0 30px;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-10 .u-text-8 {
  margin: 20px 30px 0;
}

.u-section-10 .u-btn-2 {
  font-weight: 400;
  background-image: none;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-10 .u-text-2 {
    width: 682px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 10px;
}.u-section-12 .u-sheet-1 {
  min-height: 628px;
}

.u-section-12 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  width: 513px;
  margin: 31px auto 0;
}

.u-section-12 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-12 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-12 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-12 .u-icon-1 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-12 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-12 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-12 .u-icon-2 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-12 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-12 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-12 .u-icon-3 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-12 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-12 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-12 .u-icon-4 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-12 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-4 {
  padding: 20px;
}

.u-section-12 .u-btn-1 {
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-12 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-2 {
    width: 540px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-12 .u-text-2 {
    width: 340px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 10px;
}